.item {
  margin: 20px;
}

.title {
  margin: 0px;
  word-wrap: break-word;
  font-size: 19px;
  line-height: 22px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 700;
}

.type {
  margin: 0px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.small {
  margin: 0px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 300;
  display: inline;
}

.review {
  font-weight: normal;
  margin: 0px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
}
