.item {
  margin: 20px;
}

.title {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: 700 !important;
}

.type {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.small {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  font-weight: 300 !important;
  display: inline !important;
}

.review {
  font-weight: normal !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  display: inline !important;
}

.star {
  height: 1em;
  width: 1em;
  display: block;
  fill: currentcolor;

  display: inline-block !important;
  color: #008489 !important;
  font-size: 9px !important;
  height: 10px !important;
  margin-right: 1px !important;
  width: 9px !important;

  vertical-align: middle !important;
  line-height: 21px !important;
  margin-right: 2px !important;

  line-height: normal !important;
  max-height: 24px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
}
