.buttoncancel {
  margin: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: auto;
  font-size: 19px;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #484848;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 77.66563145999496px;
  background: transparent;
  border-color: #008489;
}

.buttoncreate {
  margin: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: auto;
  font-size: 19px;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 77.66563145999496px;
  background: #008489;
  border-color: #008489;
}

.inputcreate {
  font-size: 19px;
  line-height: 24px;
  color: #484848;
  font-weight: 300;
  border-width: 1px;
  background-color: transparent;
  border-color: #aaa;
  padding: 11px;
  width: 100%;
}

.container {
    display: flex;
    height: 128px;
    align-content: space-around;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.header {
  margin: 20px;
  height: 60px;
}

.item {
  margin: 20px;
}

.list {
    margin-top: 16px;
    margin-bottom: 16px;
    word-wrap: break-word;
    font-size: 19px;
    height: 400px;
    line-height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 300;
  }

  .listitem {
    margin: 20px;
  }

  .listname {
    width: 90%;
    display: inline-block;;
  }
  .listheart {
    width: 10%;
    display: inline-block;
  }

  .line {
    border-bottom: 1px solid #DBDBDB;
    margin: 20px;
  }

.title {
    font-weight: normal;
    margin: 0px;
    word-wrap: break-word;
    font-size: 19px;
    line-height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.location {
    margin: 0px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
}

.review {
  font-weight: normal;
  margin: 0px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline;
}
